{% extends "base.html" %}
{% load i18n %}

{% block centercontent %}

{% if projects.count %}
    <h1>{% trans "Choose project:" %}</h1>
    {% for project in projects %}
    {% if origin = "cs" %}
    <a href="/childsearch/{{ project.id }}/">
    {% elif origin = "fr" %}
    <a href="/freechildren/{{ project.id }}/">
    {% elif origin = "st" %}
     <a href="/statistics/{{ project.id }}/">
    {% elif origin = "ml" %}
     <a href="/mailinglist/{{ project.id }}/">
    {% elif origin = "sa" %}
     <a href="/bulkmail/{{ project.id }}/">
    {% elif origin = "sp" %}
     <a href="/sponsorsearch/{{ project.id }}/">
    {% endif %}
        <h4>{{project}}</h4></a>
    {% endfor %}
{% else %}
    <p>{% trans "You do not have permission to view any projects" %}</p>
{% endif %}

{% endblock %}
